In [6]:
# imports
import os.path
import numpy as np
import pandas as pd

In [7]:
# housekeeping
data_dir = os.path.dirname(os.getcwd()) + "/data"

In [14]:
# library data load
lib_data = pd.read_csv(data_dir+"/Library_Usage.csv")

In [30]:
# let's get a sense of what our data looks like
lib_data.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,3,SENIOR,28,13,65 to 74 years,X,Main Library,November,2012,z,email,True,2003,True,NaN
1,0,ADULT,21,10,55 to 59 years,X,Main Library,October,2015,z,email,True,2003,False,NaN
2,0,ADULT,275,559,60 to 64 years,X,Main Library,January,2015,z,email,True,2003,True,NaN
3,0,ADULT,73,38,45 to 54 years,M8,Mission Bay,February,2016,z,email,True,2003,False,NaN
4,0,ADULT,182,90,45 to 54 years,X,Main Library,July,2016,z,email,True,2003,False,NaN

In [15]:
lib_data.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [31]:
lib_data.shape

(423448, 15)

In [19]:
lib_data.loc[:,["Total Checkouts", "Total Renewals", "Year Patron Registered"]].describe()

       Total Checkouts  Total Renewals  Year Patron Registered
count    423448.000000   423448.000000           423448.000000
mean        161.982097       59.657327             2010.348917
std         453.703678      225.009917                4.357374
min           0.000000        0.000000             2003.000000
25%           2.000000        0.000000             2007.000000
50%          19.000000        2.000000             2012.000000
75%         113.000000       27.000000             2014.000000
max       35907.000000     8965.000000             2016.000000

In [20]:
# the data runs from 2003-2016, average books checked out is 162, average renewals 60.
# note these are over the entire history of the patron

In [53]:
"""
Things I want to do to explore this data:
- remove records without supervisor districts
- group by supervisor district
- look at trends in age, checkouts, renewals by supervisor district
- match supervisor districts with park scores from other DataSF data
- see if there is correlation

- cook up a way to access this data using dash
- dockerize
"""

lib_data.where(np.isnan(lib_data["Supervisor District"]))

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,3,SENIOR,28,13,65 to 74 years,X,Main Library,November,2012,z,email,1,2003,1,NaN
1,0,ADULT,21,10,55 to 59 years,X,Main Library,October,2015,z,email,1,2003,0,NaN
2,0,ADULT,275,559,60 to 64 years,X,Main Library,January,2015,z,email,1,2003,1,NaN
3,0,ADULT,73,38,45 to 54 years,M8,Mission Bay,February,2016,z,email,1,2003,0,NaN
4,0,ADULT,182,90,45 to 54 years,X,Main Library,July,2016,z,email,1,2003,0,NaN
5,3,SENIOR,1,0,65 to 74 years,X,Main Library,July,2004,z,email,1,2003,1,NaN
6,16,DIGITAL ACCESS CARD,31,4,65 to 74 years,P7,Potrero,January,2012,z,email,1,2003,0,NaN
7,0,ADULT,547,177,60 to 64 years,X,Main Library,July,2016,p,phone,0,2003,1,NaN
8,0,ADULT,28,1,60 to 64 years,X,Main Library,December,2015,z,email,1,2003,0,NaN
9,0,ADULT,77,3,60 to 64 years,X,Main Library,July,2016,z,email,1,2003,1,NaN
10,3,SENIOR,593,9,65 to 74 years,X,Main Library,September,2014,p,phone,0,2003,0,NaN
11,3,SENIOR,784,589,65 to 74 years,S7,Sunset,July,2016,z,email,1,2003,1,NaN
12,0,ADULT,601,702,55 to 59 years,X,Main Library,July,2016,z,email,1,2003,0,NaN
13,3,SENIOR,2,6,65 to 74 years,S7,Sunset,May,2005,a,print,0,2003,1,NaN
14,0,ADULT,99,226,45 to 54 years,X,Main Library,July,2014,z,email,1,2003,0,NaN
15,0,ADULT,84,24,45 to 54 years,X,Main Library,August,2015,z,email,1,2003,0,NaN
16,0,ADULT,369,278,55 to 59 years,M4,Merced,July,2016,z,email,1,2003,0,NaN
17,3,SENIOR,65,8,65 to 74 years,N4,Noe Valley/Sally Brunn,February,2016,p,phone,0,2003,0,NaN
18,0,ADULT,147,89,55 to 59 years,E9,Excelsior,March,2016,z,email,1,2003,1,NaN
19,0,ADULT,93,64,60 to 64 years,X,Main Library,February,2015,z,email,1,2003,1,NaN
20,0,ADULT,321,15,60 to 64 years,X,Main Library,January,2015,z,email,1,2003,0,NaN
21,0,ADULT,228,200,45 to 54 years,X,Main Library,July,2016,z,email,1,2003,1,NaN
22,0,ADULT,6,3,60 to 64 years,X,Main Library,December,2006,z,email,1,2003,0,NaN
23,0,ADULT,120,76,35 to 44 years,C2,Chinatown,May,2016,z,email,1,2003,0,NaN
24,3,SENIOR,1453,242,65 to 74 years,R3,Richmond,July,2016,z,email,1,2003,0,NaN
25,0,ADULT,5,0,35 to 44 years,N6,North Beach,November,2007,z,email,1,2003,0,NaN
26,3,SENIOR,39,32,65 to 74 years,X,Main Library,May,2015,p,phone,1,2003,1,NaN
27,0,ADULT,31,30,35 to 44 years,M4,Merced,June,2015,p,phone,1,2003,0,NaN
28,0,ADULT,33,0,45 to 54 years,C2,Chinatown,August,2015,z,email,1,2003,0,NaN
29,3,SENIOR,230,62,65 to 74 years,P9,Presidio,June,2016,z,email,1,2003,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423427,0,ADULT,3,0,35 to 44 years,X,Main Library,November,2004,z,email,1,2003,1,NaN
423428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423429,4,WELCOME,1,0,20 to 24 years,B2,Bayview/Linda Brooks-Burton,March,2015,z,email,1,2015,0,NaN
423430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423433,0,ADULT,1342,1443,20 to 24 years,W2,West Portal,July,2016,z,email,1,2007,0,NaN
423434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423436,1,JUVENILE,961,494,10 to 19 years,X,Main Library,July,2016,z,email,1,2008,1,NaN
423437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423440,15,TEACHER CARD,12,6,55 to 59 years,M4,Merced,April,2016,z,email,1,2015,0,NaN
423441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423445,0,ADULT,4,1,25 to 34 years,X,Main Library,January,2014,z,email,1,2011,0,NaN
423446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423447,2,YOUNG ADULT,662,93,10 to 19 years,A5,Anza,April,2016,z,email,1,2003,0,NaN