In [2]:
# imports
import os.path
import numpy as np
import pandas as pd

In [5]:
# housekeeping
data_dir = os.path.dirname(os.getcwd()) + "/data/"

In [6]:
# library data load
lib_data = pd.read_csv(data_dir + "Library_Usage.csv")
park_historical_data = pd.read_csv(data_dir + "Park_Scores_2005-2014.csv")
park_recent_data = pd.read_csv(data_dir + "Park_Evaluation_Scores_starting_Fiscal_Year_2015.csv")

In [5]:
# let's get a sense of what our data looks like
lib_data.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,3,SENIOR,28,13,65 to 74 years,X,Main Library,November,2012,z,email,True,2003,True,NaN
1,0,ADULT,21,10,55 to 59 years,X,Main Library,October,2015,z,email,True,2003,False,NaN
2,0,ADULT,275,559,60 to 64 years,X,Main Library,January,2015,z,email,True,2003,True,NaN
3,0,ADULT,73,38,45 to 54 years,M8,Mission Bay,February,2016,z,email,True,2003,False,NaN
4,0,ADULT,182,90,45 to 54 years,X,Main Library,July,2016,z,email,True,2003,False,NaN

In [6]:
lib_data.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [7]:
lib_data.shape

(423448, 15)

In [8]:
lib_data.loc[:,["Total Checkouts", "Total Renewals", "Year Patron Registered"]].describe()

       Total Checkouts  Total Renewals  Year Patron Registered
count    423448.000000   423448.000000           423448.000000
mean        161.982097       59.657327             2010.348917
std         453.703678      225.009917                4.357374
min           0.000000        0.000000             2003.000000
25%           2.000000        0.000000             2007.000000
50%          19.000000        2.000000             2012.000000
75%         113.000000       27.000000             2014.000000
max       35907.000000     8965.000000             2016.000000

In [9]:
# the data runs from 2003-2016, average books checked out is 162, average renewals 60.
# note these are over the entire history of the patron

In [14]:
"""
Things I want to do to explore this data:
- remove records without supervisor districts
- group by supervisor district
- look at trends in age, checkouts, renewals by supervisor district
- match supervisor districts with park scores from other DataSF data
- see if there is correlation

- cook up a way to access this data using dash
- dockerize
"""

#lib_data.where(np.isnan(lib_data["Supervisor District"]))

'\nThings I want to do to explore this data:\n- remove records without supervisor districts\n- group by supervisor district\n- look at trends in age, checkouts, renewals by supervisor district\n- match supervisor districts with park scores from other DataSF data\n- see if there is correlation\n\n- cook up a way to access this data using dash\n- dockerize\n'

In [20]:
lib_data_w_sd = lib_data.dropna(subset=["Supervisor District"])
# only library data that has a supervisor district

In [21]:
lib_data_w_sd.shape

(313138, 15)

In [7]:
park_historical_data.head()

   ParkID   PSA                       Park      FQ  Score
0      86  PSA4           Carl Larsen Park  FY05Q3  0.795
1      13  PSA4  Junipero Serra Playground  FY05Q3  0.957
2       9  PSA4     Rolph Nicol Playground  FY05Q3  0.864
3     117  PSA2               Alamo Square  FY05Q4  0.857
4      60  PSA6   Jose Coronado Playground  FY05Q4  0.859

In [8]:
park_recent_data.head()

,Park,Park Type,Park Site Score,PSA,Supervisor District
0,10th Avenue-Clement Mini Park,Mini Park,88.2,PSA 1,1
1,24th Street-York Mini Park,Mini Park,89.4,PSA 6,9
2,Adam Rogers Park,Neighborhood Park or Playground,88.4,PSA 3,10
3,Alamo Square,Neighborhood Park or Playground,85.0,PSA 2,5
4,Alice Chalmers Playground,Neighborhood Park or Playground,63.1,PSA 3,11

In [16]:
park_recent_data.groupby(["Supervisor District"]).mean()

                     Park Site Score
Supervisor District
1                          88.128571
2                          87.050000
3                          86.080952
4                          86.012500
5                          88.400000
6                          85.575000
7                          87.172727
8                          86.030000
9                          86.831579
10                         81.943478
11                         77.100000